

.ui-widget {
    width: 100%;
    height: auto;
    /*! margin:30px auto; */
    font: 12px/1 Arial;
    box-shadow:
        none;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

/*.ui-widget:before,
.ui-widget:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    ! box-shadow:0 1px 2px 1px rgba(3,3,3,0.4); 
    background: #F1EEE8;
    border-radius: 1px;
}*/

.ui-widget:before {
    width: 98%;
    top: 5px;
    left: 3px;
    z-index: -10;
}

.ui-widget:after {
    width: 96%;
    top: 10px;
    left: 6px;
    z-index: -20;
}

.ui-widget a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font_rg);
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    width: 100%;
    height: 100px;
    /*! background: url("https://media-cache-ec4.pinterest.com/upload/276830708316411236_yZqe68ac.jpg"); */
    background-size: cover;
    border-radius: 7px 7px 0 0;
    /*! box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4), inset 0 -5px 10px -5px #571711; */
    color: #EFDEB7;
    overflow: hidden;
    padding-top: 15px;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 18px;
    /*! text-shadow:1px -1px #31241C; */
    margin-top: 15px;
    line-height: 31px;
    color: #000;
}

.ui-datepicker-year {
    color: #000;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;

}

.ui-icon {
    display: none;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 14px;
}

.ui-datepicker-next {
    float: right;
    margin-right: 36px;
}

/* .ui-datepicker-next:before{
      content:"►"; color:#440B05;font-size:16px;
    }*/
.ui-datepicker-next:before {
    content: "\f105";
    color: #475F80;
    font-size: 20px;
    font-family: 'Line Awesome Free';
    font-weight: 600;
}

.ui-datepicker-next:after {
    content: "Nächster";
    color: #475F80;
    font-size: 12px;
    font-family: var(--font_rg);
    margin-left: -75px;
    top: -3px;
    position: relative;
}

.ui-datepicker-prev:before {
    content: "\f104";
    color: #475F80;
    font-size: 20px;
    font-family: 'Line Awesome Free';
    font-weight: 600;
}

.ui-datepicker-prev:after {
    content: "Vorheriger";
    color: #475F80;
    font-size: 12px;
    font-family: var(--font_rg);
    margin-right: -75px;
    position: relative;
    top: -3px;
}

thead {
    /*! background: linear-gradient(#D2D2D2,#868686); */
    height: 30px;
    /*! box-shadow: 0 1px 2px 1px #6F6961; */
}

thead th {
    text-transform: uppercase;
    color: #707070;
    font-size: 12px;
    opacity: 0.8;
    font-family: "Helvetica Regular";
    text-transform: capitalize;
}

.ui-datepicker-calendar {
    /*! background: url("https://media-cache-ec2.pinterest.com/upload/276830708316411241_WVs774Pa.jpg")0 30px repeat; */
    background-size: 100%;
    /*! border-radius: 0 0 10px 10px; */
    border-collapse: collapse;
    /*removes default spacing between cells*/
    /*! font-weight:bold; */

}

td,
td a {
    height: 46px;
    text-align: center;
    font-family: arial;
}

td a.ui-state-default {
    color: #000;
}

.ui-state-disabled {
    color: #000 !important;
    opacity: 0.5;
}

a.ui-state-active {
    line-height: 40px;
    display: block;
    background:
        url('https://media-cache-lt0.pinterest.com/upload/276830708316411244_RMB1iYCw.jpg') right center no-repeat;
    color: #AE7514 !important;
}

table.ui-datepicker-calendar tbody td.highlight>a {
    line-height: 40px;
    display: block;
    background: url("https://media-cache-ec4.pinterest.com/upload/276830708316411430_2hONwsBf.jpg") 10px 28px no-repeat;
}


.ui-state-default.ui-state-active:before {
    position: absolute;
    top: -2px;
    left: 50%;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    transform: translateX(-50%);
    z-index: -1;
}

.ui-state-default.ui-state-active {
    position: relative;
    color: #fff !important;
    z-index: 9;
    font-family:"Helvetica SemiBold";
}

.ui-state-default {
    font-size: 14px;
}
#datepicker {
  background: #F1EEE8;
  padding: 0 0 40px;
}