/* Base CSS */

@font-face {
    font-family: Helvetica Bold;
    src: url(../fonts/Monotype-Helvetica-NowText-Bold.otf);
}

@font-face {
    font-family: Helvetica SemiBold;
    src: url(../fonts/Monotype-Helvetica-NowText-Medium.otf);
}

@font-face {
    font-family: Helvetica Medium;
    src: url(../fonts/Monotype-Regular.otf);
}

@font-face {
    font-family: Helvetica Regular;
    src: url(../fonts/Monotype-Helvetica-Now-Text-Light.otf);
}

@font-face {
    font-family: Helvetica Light;
    src: url(../fonts/Monotype-rg.otf);
    font-weight: 300;
}

/* variables*/
:root {
    --font_bl: "Helvetica Bold";
    --font_sb: "Helvetica SemiBold";
    --font_md: "Helvetica Medium";
    --font_rg: "Helvetica Regular";
    --font_lg: "Helvetica Regular";

    --white: #fff;
    --red: #D51030;
    --grey: #999;
    --preloader-clr: #000;
    --bg-overlaay: rgba(0, 0, 0, 0.8);
}

:focus,
button:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #1c223a;
    text-transform: inherit;
    text-decoration: none;
}

a:hover,
a :focus {
    color: #373d46;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    line-height: 1.5;
    font-family: var(--font_bl);
}

body {
    margin: 0;
    color: #000000;
    font-family: var(--font_rg);
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

/*Proloader START CSS*/

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.loader_34 {
    /* Preloader */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader_34 .ytp-spinner {
    /* Spinner Container */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-right {
    /* Position inside Container*/
    left: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #93CCDD #93CCDD transparent;
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}


/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 17px;
    right: calc((100% - 1170px) / 2 + 0px);
    z-index: 999;
    border-radius: 50%;
    /*background: #13171d;*/
}


.back-to-top i {
    color: #000;
}


.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    display: block;
    width: 100%;
    background: #93CCDD;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-family: var(--font_sb);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.btn.v1 span {
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    font-family: var(--font_rg);
}


.btn.v2 {
    font-size: 14px;
    line-height: 30px;
    color: #949370;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 45px;
    transition: 0.3s;
    font-family: var(--font_bl);

}

.btn.v2:hover {
    color: #FFF;
    background: transparent;
    border-color: #fff;
}

.btn.v3 {
    font-size: 14px;
    line-height: 30px;
    color: #949370;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 65px;
    transition: 0.3s;
    color: #FFF;
    background: transparent;
    border-color: #fff;
    font-family: var(--font_bl);
}

.btn.v3:hover {
    color: #949370;
    background: #fff;
    border-color: transparent;
}

.btn.v5 {
    font-size: 14px;
    line-height: 30px;
    background: #fff;
    display: inline-block;
    padding: 8px 27px 12px;
    border: none;
    border-radius: 50px;
}

.btn.v5 img {
    position: relative;
    top: 6px;
    margin-right: 5px;
    min-width: 19px;
    height: 25px;
}

.btn.v6 {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    border: 2px solid transparent;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 25px;
    transition: 0.3s;
    color: #000;
    font-family: var(--font_md);
    font-weight: 400;
}

.btn.v6.load-more {
    margin: 60px auto;
}

.btn.v6 img {
    margin-right: 15px;
    position: relative;
    top: 1px;
}

.btn.v6:hover {
    border-color: #fff;
    background: transparent;
}

.btn.v7 {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    border: 2px solid transparent;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 25px;
    transition: 0.3s;
    color: #000;
    font-family: var(--font_md);
    font-weight: 400;
}

.btn.v7 img {
    margin-right: 15px;
    position: relative;
    top: 1px;
}

.btn.v7:hover {
    border-color: #fff;
    background: transparent;
}

.btn.v8 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    border: 2px solid transparent;
    background-color: #F1EEE7;
    border-radius: 50px;
    display: inline-block;
    padding: 17px 28px 15px;
    transition: 0.3s;
    color: #000;
    font-family: var(--font_md);
    font-weight: 400;
}

.btn.v8.load-more {
    margin: 100px auto 30px;
}

.btn.v8 img {
    margin-right: 15px;
    position: relative;
    top: 1px;
}

.btn.v8:hover {
    border-color: transparent;
    background: #BBCFDC;
}

.bg-f {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}

.bg_bs {
    background-color: #E4EEF5;
}

.bg_pmp {
    background-color: #F1EEE8;
}

.container {
    margin: 0 auto;
}



.subheading {
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin: 0 0 5px;
}

.subheading.v1 {
    color: #000;
}

.subheading.v2 {
    color: #fff;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex.align-center {
    align-items: center;
}

.d-flex.align-end {
    align-items: flex-end;
}

.d-none {
    display: none;
}

/*margin css*/
.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}


.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

/*--------------------------------
       Header CSS
---------------------------------*/
/* Header bar area Start */






/*--------------------------------
            Header CSS
---------------------------------*/
/* Header bar area Start */
.header-bar-area {
    /*position: fixed;*/
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0;
    z-index: 999;
    transition: 0.3s;
}


/*sticky START CSS*/

.header-bar-area.sticky {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    background: #fff;
}



.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
}

.header-shape {
    position: absolute;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
}

.header-shape img {
    width: 100%;
}

/*
.top-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 0;
}

.top-shape::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    background: #fff;
    width: 58%;
    height: 78px;
    transform: rotate(4.4deg);
}

.top-shape::after {
    position: absolute;
    bottom: -10px;
    right: 0px;
    content: "";
    background: #fff;
    width: calc(42% + 10px);
    height: 78px;
    transform: rotate(-6deg);
}*/

.header-left {
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-right {
    width: 22%;
}

.home-icon {
    width: 80px;
}

.main-menu-wrap {
    width: calc(100% - 80px);
}



#mobile_menu {
    /*! background: #165DA6; */
    padding: 0;
}

#mobile_menu a {
    display: block;
}

#mobile_menu a span {
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    margin: 4px auto;
    border-radius: 10px;
}

#mobile_menu a span:nth-child(2) {
    /*! width: 22px; */
}

.mm-panel,
.mm-panels {
    background: #F1EEE8 !important;
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar>* {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--font_sb);
    padding-left: 20px;
}

.mm-menu a,
.mm-menu a:active,
.mm-menu a:hover,
.mm-menu a:link,
.mm-menu a:visited {
    color: #000 !important;
}

.mm-listitem::after,
.mm-listitem .mm-btn_next::before {
    /*display: none !important;*/
    left: 0;
}

.mm-listitem::after {
    left: 0 !important;
}

.mm-listitem>a,
.mm-listitem>span {
    padding: 20px 15px !important;
}

.mm-menu .mm-listview .mm-btn_next::after,
.mm-menu .mm-btn::after,
.mm-menu .mm-btn::before {
    border-color: #fff !important;
}


.header-search {
    position: relative;
}

.header-search input {
    width: 100%;
    background: #F1EEE8;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 10px 18px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.header-search.open input {
    visibility: visible;
    opacity: 1;
}

.header-search input::placeholder {
    opacity: 1;
}

.header-search button {
    position: absolute;
    top: 0;
    right: 0px;
    background: transparent;
    border: none;
    padding: 12px 14px;
}

/*------Menu Desktop  -----*/

.dropdown li.has-child {
    display: block;
}

.dropdown {
    flex-direction: column;
    justify-content: flex-start;
}

li.has-Child ul.has_dropdown {
    position: absolute;
    top: 74px;
    left: 30%;
}

/*---------------------------------
        Hero CSS
--------------------------------*/
.hero-wrap {
    position: relative;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(71, 95, 128, 0.921988863904937) 0%, rgba(71, 95, 128, 0.40378158099177175) 35%, rgba(71, 95, 128, 0) 100%);
    z-index: 2;
}

.img-fluid {
    width: 100%;
}

.hero-slider-item {
    height: calc(100vh - 70px);
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.hero-slider_v1 .owl-prev {
    position: absolute;
    top: 45%;
    left: 50px;
    transform: translateY(-50%);
}

.hero-slider_v1 .owl-next {
    position: absolute;
    top: 45%;
    right: 120px;
    transform: translateY(-50%);
}

.video-play {
    position: absolute;
    bottom: 90px;
    z-index: 99;
}

.hero-slider_v1 .owl-dots,
.hero-slider_v2 .owl-dots {
    position: absolute;
    bottom: 110px;
}

.hero-slider_v1 .owl-dots .owl-dot.active span,
.hero-slider_v2 .owl-dots .owl-dot.active span {
    position: relative;
}

.hero-slider_v1 .owl-dots .owl-dot.active span::before,
.hero-slider_v2 .owl-dots .owl-dot.active span::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #000;
    width: 70px;
    height: 3px;
}

.hero-logo {
    position: absolute;
    bottom: 80px;
    z-index: 99;
}

.more-hero-btn {
    position: absolute;
    bottom: 100px;
    z-index: 99;
    display: inline-block;
    background: #F1EEE8;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    padding: 10px 25px;
    border-radius: 50px;
}

.more-hero-btn img {
    margin-right: 10px;
}

.hero-content {
    position: absolute;
    width: 1170px;
    color: #fff;
    z-index: 3;
    transform: translateY(-50%);
}

.hero-content.v1 {
    top: 35%;

}

.hero-content.v2 {
    top: 40%;

}

.hero_title {
    display: inline-block;
    position: relative;
    padding: 28px;
    transform: rotate(-4deg);
    margin: 0 0 60px;
}

.hero_title .br_1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 25px;
}

.hero_title .br_2 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 25px;
}

.hero_title .br_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 25px;
}

.hero_title .br_4 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 25px;
}

.hero-content .hero_title h1 {
    font-size: 48px;
    line-height: 56px;
    margin: 0;
}

.hero_title h1 span {
    font-family: var(--font_lg);
    font-weight: 300;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 35px;
}

.hero-content.v1 .hero_title h1,
.hero-content.v1 p {
    color: #000;
}

.hero-content.v2 .hero_title h1,
.hero-content.v2 p {
    color: #fff;
}

.hero-content.v2 .hero_title .br_1,
.hero-content.v2 .hero_title .br_2,
.hero-content.v2 .hero_title .br_3,
.hero-content.v2 .hero_title .br_4 {
    filter: brightness(0) invert(1);
}

.hero-content p {
    font-size: 18px;
    line-height: 26px;
}

.hero-content.v2 .link.v2 img {
    filter: brightness(0) invert(1);
    width: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.hero-slider-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.hero-bottom-shape {
    position: absolute;
    bottom: -1px;
    left: -5px;
    width: calc(100% + 10px);
    z-index: 1;

}

.hero-slider {
    width: 100%;
}

.hero-slider_v2 .owl-prev {
    position: absolute;
    top: 39%;
    transform: translateY(-50%);
    left: 50px;
    /*width: 32px;*/
    /*height: 32px;*/
    /*background: #fff !important;*/
    /*color: #000;*/
    border-radius: 50%;
}

.hero-slider_v2 .owl-next {
    position: absolute;
    top: 39%;
    transform: translateY(-50%);
    right: 120px;
    /*width: 32px;*/
    /*height: 32px;*/
    /*background: #fff !important;*/
    color: #000;
    border-radius: 50%;
}

/*---------Hero Option------*/
.page_wrapper {
    position: relative;
}

.hero-option {
    /*width: 10%;*/
    z-index: 999;
}

.close-option {
    position: absolute;
    top: 10px;
    right: 25px;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
}

.hero-option {
    position: absolute;
    top: 0;
    right: -375px;
    width: 490px;
    padding: 50px 25px 5px 188px;
    /*background: #B5C3CC;*/
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.hero-option.open {
    right: 0;
}

/*
.hero-option::before {
    position: absolute;
    top: 0px;
    left: -61px;
    content: "";
    background: #B5C3CC;
    height: 77%;
    width: 108px;
    transform: rotate(9deg);
    z-index: -1;
}

.hero-option::after {
    position: absolute;
    bottom: 10px;
    left: -53px;
    content: "";
    background: #B5C3CC;
    height: calc(23% + 30px);
    width: 105px;
    transform: rotate(-25deg);
    z-index: -1;
}

.hero-option::after {
    position: absolute;
    bottom: 10px;
    left: -61px;
    content: "";
    background: #B5C3CC;
    height: calc(27% + 29px);
    width: 111px;
    transform: rotate(-25deg);
    z-index: -1;
}*/
.option-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.option-shape-2 {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;
    filter: blur(10px);
}

.option-shape-1 img,
.option-shape-2 img {
    width: 100%;
}

.more-info-btn {
    position: absolute;
    bottom: 260px;
    left: -10px;
    cursor: pointer;
    transform: rotate(-90deg);
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font_sb);
    text-transform: uppercase;
    letter-spacing: 1px;

}

.more-info-btn span {
    display: inline-block;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    position: relative;
    top: 4px;
    margin: 0 10px 0 0px;
}

.ev-info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px;
}

.ev-info-title h4,
.ev-info-title h6 {
    font-size: 18px;
    line-height: 32px;
    font-family: var(--font_md);
}


.ev-info-title h4 span {
    font-family: var(--font_rg);
}

.inf_box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 10px 16px 16px;
    margin: 0 0 15px;
    width: 275px;
}

.weather-box,
.ev-news-box,
.ev-event-item,
.ev-address {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wheather-temp,
.ev-news-left,
.ev-event-item-left,
.ev-address-left {
    width: 50%;
}

.humidity-inf,
.ev-news-right,
.ev-event-item-right,
.ev-address-right {
    width: 50%;
}

.wheather-temp h5 {
    font-size: 12px;
    line-height: 32px;
    font-family: var(--font_md);
    margin: 0;
}

.wheather-temp p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 0 3px;
}

.wheather-temp span {
    font-size: 48px;
    line-height: 48px;
    font-family: var(--font_md);
    display: block;
}

.wheather-temp {
    position: relative;
    padding-left: 24px;
    box-sizing: border-box;
}

.wheather-temp::after {
    position: absolute;
    bottom: 5px;
    right: 0;
    content: "";
    background: #000;
    width: 1px;
    height: 59px;
}

.weather-temp {
    padding-left: 20px;
}

.humidity-inf {
    padding-left: 25px;
}

.humidity-inf img {
    max-width: 51px;
    margin: 0 0 10px;
}

.humidity-inf p {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}

.humidity-inf p span {
    font-family: var(--font_sb);
    width: 35px;
    display: inline-block;
}


.ev-news-box.inf_box .ev-news-left {
    width: 60%;
}

.ev-news-box.inf_box .ev-news-right {
    width: 37%;
}

.ev-news-box.inf_box .ev-news-right img {
    width: 100%;
}

.ev-news-left span.subheading,
.ev-box-title span.subheading {
    font-family: var(--font_sb);
    letter-spacing: 0.4px;
    margin: 0;
}

.ev-news-left p {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 0;
}

.ev-news-left .link.v3 {
    font-size: 10px;
}

.ev-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 10px;
}

.ev-event-item {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #7E7E7E;
}

.ev-event-item:last-child {
    border-bottom: none;
}

.ev-event-item-left span.subheading {
    font-size: 10px;
}

.ev-event-item-left p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.ev-event-item-right p {
    padding-left: 20px;
}

.ev-event-item-right p {
    font-size: 10px;
    line-height: 16px;
    margin: 0;
}

.ev-event-item-right p span {
    font-family: var(--font_sb);
    display: block;
}

.ev-address-left p {
    font-size: 12px;
    line-height: 18px;
}

.ev-address-left ul li {
    font-size: 12px;
    line-height: 18px;
}

/*---------------------------------
        Tab  CSS
--------------------------------*/
.filter-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filter-title {
    width: 40%;
}

.filter-tab {
    width: 60%;
}

.filter-title span,
.promo-title span {
    font-family: var(--font_sb);
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    display: block;
}

.filter-title h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-family: var(--font_bl);
    text-transform: capitalize;
}

/*.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
}

.tab-menu ul li a {
}

.tab-menu ul li a.active-a {
    color: #000;
}*/

.tab-menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.tab-menu ul li:first-child {

    margin-left: 0;
}

.tab-menu ul li a {
    display: block;
    background: #F1EEE8;
    text-align: center;
    line-height: 55px;
}

.tab-menu ul li a.active-a,
.tab-menu ul li a.cat-filter.active {
    background: #93CCDD;
}

.tab-menu ul li a.v1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.tab-menu ul li a.cat-filter,
.tab-menu ul li a.reload {
    height: 48px;
    border-radius: 50px;
    padding: 0 32px 0 25px;
    line-height: 60px;
}

.tab-menu ul li a.cat-filter span,
.tab-menu ul li a.reload span {
    font-size: 14px;
    position: relative;
    top: -5px;
    margin-left: 10px;
    display: inline-block;
}

.tab {
    display: none;
}

.tab-active {
    display: block;
}

.filter-tab-content {
    width: 100%;
    margin: 0;
    padding: 50px 0 100px;
}

.event-list-wrap.v1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -1%;
}

.event-item {
    width: 48%;
    margin: 0 1% 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.event-img {
    width: 260px;
}

.event-info {
    width: calc(100% - 280px);
    margin-left: 20px;
}

.event-img img {
    width: 100%;
}

span.date {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 5px;
    color: #475F80;
    display: block;
}

.event-info h4 {
    font-size: 20px;
    line-height: 27px;
    font-family: var(--font_md);
    letter-spacing: 0.2px;
    margin: 0 0 15px;
}

.event-info p {
    font-size: 14px;
    margin: 0 0 5px;
}

.link {
    font-size: 12px;
    line-height: 24px;
    font-family: var(--font_sb);
    text-transform: capitalize;
    display: block;
}

.link.v2 {
    color: #fff;
}

.link.v3 {
    color: #93CCDD;
}

.link img {
    position: relative;
    top: 2px;
    max-height: 23px;
}

.link.v2 img {
    filter: brightness(0) invert(1);
}

.link.v4 img {
    position: relative;
    top: 2px;
    max-width: 15px;
}

.add-more-btn {
    text-align: center;
    margin: 50px 0;
}

/*---------------------------------
        Tab-2 CSS
--------------------------------*/

.tab-two-content-left,
.tab-two-content-right {
    width: 49%;
}

/*---------------------------------
        Tab-3 CSS
--------------------------------*/
.filter-taglist {
    display: none;
}

.filter-taglist.open {
    display: block;
}

.filter-taglist ul li {
    display: inline-block;
    margin: 0px 10px 10px 0;
}

.filter-taglist ul li span {
    display: inline-block;
    background: #F1EEE8;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.filter-taglist ul li span img {
    margin-left: 5px;
    display: none;
}

.filter-taglist ul li span.selected {
    background: #93CCDD;

}

.filter-taglist ul li span.selected img {
    display: inline-block;

}

/*---------------------------------
        Footer CSS
--------------------------------*/

.footer-top {
    background: #F1EEE8;
    padding: 80px 0 26px;
}

.footer-widget-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-widget:nth-child(1) {
    width: 20%;
}

.footer-widget:nth-child(2) {
    width: 30%;
}

.footer-widget:nth-child(3) {
    width: 25%;
}

.footer-widget:nth-child(4) {
    width: 25%;
}

.footer-widget p,
.footer-menu li a,
.social-lik li a,
.newsletter-form label {
    font-size: 14px;
    line-height: 27px;
}

.footer-menu li img {
    position: absolute;
    top: 1px;
    left: 0;
}

.footer-menu li a {
    position: relative;
    padding-left: 14px;

}

.social-lik li a i {
    font-size: 18px;
    margin-right: 18px;
    position: relative;
    top: 2px;
}

.newsletter-form .form-group input {
    width: calc(100% - 40px);
    height: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.newsletter-form .form-group {
    position: relative;
    margin: 5px 0 13px;
}

.newsletter-form .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    background: #93CCDD;
    height: 100%;
    width: 58px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    font-family: var(--font_md);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.newsletter-form .form-group input::placeholder {
    opacity: 1;
}

.check_box {
    display: block;
    margin-bottom: 15px;
}

.check_box input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.check_box label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding-left: 32px;
    display: block;
}

.check_box label a {
    text-decoration: underline;
}

.check_box label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    box-shadow: none;
    /*! padding: 10px; */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 1px;
}

.check_box input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer-bottom {
    background: #93CCDD;
    padding: 25px 0;
}

.footer-bottom ul li {
    display: inline-block;
    margin: 0 16px 0 0;
}

.footer-bottom ul li a {
    font-size: 10px;
    line-height: 26px;
}




/*mENU TAB*/


/*------------------------------
        About  Section
------------------------------*/
.about-wrap {
    background: #949370;
    position: relative;
    overflow: hidden;
}

.about-wrap.section-padding {
    padding-top: 200px;
    padding-bottom: 200px;
}

.about-shape-1 {
    position: absolute;
    top: -150px;
    left: -5px;
    width: calc(100% + 10px);
}

.about-shape-2 {
    position: absolute;
    top: -175px;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -2;
    height: 170px;
}

.about-content {
    width: 50%;
}

.about-img {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
}

.about-img img {
    width: 100%;
}

.about-btn a {
    margin-right: 10px;
}

.about-content span.subhead {
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-family: var(--font_sb);
}

.about-content h2 {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    font-family: var(--font_rg);
    margin: 0 0 35px;
}

.about-content h2 span {
    font-family: var(--font_bl);
    font-weight: 400;

}

.about-content p {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin: 0 0 40px;
}

/*------------------------------
        Social Media Section
------------------------------*/
.news-wrap {
    /*height: 800px;*/
    position: relative;
    z-index: 10;
}

.fs_shape {
    position: absolute;
    top: -133px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.news-left-wrap {
    width: 35%;
    position: relative;
    padding-top: 200px;
}

/*.news-shape-one{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    z-index: -1;
}
.news-shape-two{
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    z-index: -1;
}*/
.news-bt-shape {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    z-index: -2;
}

.sm-shape-41 {
    position: absolute;
    top: 0;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
}

.sm-news-bg {
    position: absolute;
    top: 0;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
}

.news-left-wrap .feature-content {
    max-width: 100%;
}

.news-left-wrap .feature-content h2 {
    font-size: 32px;
    line-height: 36px;
}

.news-left-wrap .feature-content.mb-50 .d-flex.align-center {
    max-height: 39px;
}

.news-right-wrap {
    width: 65%;
    position: relative;
    transform: translateY(200px);
}

.news-right-wrap span {
    font-size: 12px;
    line-height: 48px;
    margin: 0;
    display: block;
}

.news-right-wrap h3 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
}

.news-right-wrap {
    padding-left: 50px;
}

.news-img img {
    width: 100%;
}

.news-text span {
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 0;
}

.news-text p {
    font-size: 16px;
    line-height: 22px;
}

.news-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: linear-gradient(90deg, rgba(147, 204, 221, 1) 0%, rgba(147, 204, 221, 1) 35%, rgba(142, 176, 185, 1) 100%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.news-item {
    width: 30%;
}

.event-slider .event-info {
    width: 100%;
    margin-left: 20px;
}


.news-wrap .ev-event-item-right {
    dsipl: fle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news-wrap .ev-event-item-right p span {
    display: inline-block;
    marg-ri: ;
    margin-right: 8px;
}

.news-wrap .ev-event-item-right img {
    position: relative;
    top: -4px;
}

.news-wrap .ev-event-item-right p {
    padding-left: 12px;
}

.news-wrap .ev-event-item.d-flex.align-end {
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.news-wrap .ev-event-box.inf_box {
    padding: 25px;
}

.news-wrap .ev-info-wrap.inf_box {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.news-wrap .ev-event-box.inf_box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.news-item-wrap {
    margin: 60px 0 0;
}

/*------------------------------
        Social Media Section
------------------------------*/
.social-media-wrap {
    position: relative;
    padding: 100px 0 100px;
}

.social-left-shape {
    position: absolute;
    top: -64px;
    left: -1.3%;
    width: 39%;
    height: 132px;
    background: #BBCFDC;
    transform: rotate(10deg);
    z-index: 0;
}

.social-right-shape {
    position: absolute;
    top: -78px;
    right: -1.4%;
    width: 63%;
    height: 157px;
    background: #F1EEE8;
    transform: rotate(-7.4deg);
    z-index: 0;
}

.social-media-wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #BBCFDC;
    width: 38%;
    height: 100%;
    z-index: -1;
}

.social-media-wrap:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: #F1EEE8;
    width: 62%;
    height: 100%;
    z-index: -1;
}

.social-media-left {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

}

.social-media-right {
    padding-left: 20%;
    width: 62%;
    z-index: 1;

}

.content-title h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    text-transform: capitalize;
}

.content-title p {
    font-size: 16px;
    line-height: 22px;
}

.feature-select {
    margin: 50px 0 20px;
}

.option-on.d-flex {
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 15px;
}

.option-on input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.option-on label {
    cursor: pointer;
    text-indent: -9999px;
    width: 56px;
    height: 32px;
    background: #475F80;
    display: block;
    border-radius: 50px;
    position: relative;
}

.option-on label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 26px;
    height: 26px;
    background: #ECE9E3;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.option-on input:checked+label {
    background: #93CCDD;
}

.option-on input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.option-on label:active:after {
    /*width: 130px;*/
}

.option-on p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 15px;
}

/*------------------------------
        Event Slider Section
------------------------------*/
.event-wrap {
    position: relative;
}

.ev_shape {
    position: absolute;
    top: -75px;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
}

.shape_15 {
    position: absolute;
    bottom: 0;
    left: 0;
    widows: 100%;
}

.shape_15 {
    position: absolute;
    bottom: -79px;
    left: 0;
    width: 100%;
    transform: scaleX(-1);
}

.event-item.v3 {
    width: 100%;
}

.event-item.v3 .event-info {
    margin: 0;
}

section.event-wrap .filter-wrap {
    margin: 0 0 40px;
}

.event-slider .owl-dots .owl-dot,
.hero-slider_v1 .owl-dots .owl-dot,
.hero-slider_v2 .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
}

.event-slider .owl-dots .owl-dot span,
.hero-slider_v1 .owl-dots .owl-dot span,
.hero-slider_v2 .owl-dots .owl-dot span {
    display: block;
    width: 124px;
    height: 3px;
    background: #93CCDD;
    border-radius: 50px;
}

.event-slider .owl-dots,
.hero-slider_v1 .owl-dots,
.hero-slider_v2 .owl-dots {
    text-align: center;
    margin: 25px 0 0;
}

.event-slider .owl-dots .owl-dot.active span {
    background: #000000;
}

.event-slider .event-info .link img {
    display: inline-block !important;
    width: auto !important;
}

.event-list-wrap.v1 a.load-more .loading-msg {
    display: none;
}

.event-list-wrap.v1 a.load-more.loading .default-msg {
    display: none;
}

.event-list-wrap.v1 a.load-more.loading .loading-msg {
    display: inline-block;
}

/*------------------------------
        Promo Section
------------------------------*/
.promo-wrap {
    position: relative;
    padding: 100px 54px 50px;
    margin-top: 150px;
}

.promo-bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.promo-bg-shape-2 {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100%;
    z-index: 0;

}

.promo-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.promo-title {
    z-index: 9;
    position: relative;
}

.promo-title h2 span {
    font-size: 48px;
    line-height: 48px;
    font-family: var(--font_bl);
    display: inline-block;
}

.promo-item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
}

.promo-item {
    width: 30%;
    /*background: #F1EEE7;*/
    position: relative;
    z-index: 2;
    padding: 48px 35px 0;
    min-height: 320px;
}

.promo-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}

.promo-top-shape {
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
}

.promo-bottom-shape {
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
}

.promo-item h4 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 20px;
}

.promo-item p {
    font-size: 12px;
    line-height: 16px;
    max-width: 50%;
    margin: 0;
}

.promo-icon {
    position: absolute;
    bottom: 61px;
    right: 30px;
    max-width: 120px;
}

.promo-item a {
    position: absolute;
    top: 40px;
    right: 25px;
}

/*------------------------------
        Feature Section
------------------------------*/

.feature-item {
    position: relative;
    overflow: hidden;
}

.ft_ol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: 0;
}

.ft_top_shape {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.feature-item .container {
    height: 100%;
}

.feature-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 30%;
    z-index: 9;
    position: relative;
}


.feature-content h2,
.promo-title h2 {
    font-size: 48px;
    line-height: 48px;
    font-family: var(--font_lg);
}

.feature-content h2 span,
.promo-title h2 span {
    font-family: var(--font_bl);
}

.feature-content p {
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0 55px;
}

.feature-content a.link img {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.feature-content a.link i {
    margin-left: 4px;
    font-size: 14px;
    position: relative;
    top: 1px;
}

/*------------------------------
        Contact Section
------------------------------*/
.section-padding {
    padding: 130px 0;
}

.section-padding_2 {
    padding: 60px 0;
}

.contact-wrap {
    background: #949370;
    padding: 130px 0;

}

.contact-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 0 40px;
}

.contact-title-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-title-left h2 {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    margin: 0;
}

.contact-title-left span {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font_md);
}

.contact-form {
    width: 50%;
}

.contact-form input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    padding: 14px 0;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    opacity: 1;
}

.contact-form textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    height: 40px;
    resize: none;
    font-family: var(--font_md);
}

.contact-form .form-group {
    margin: 0 0 38px;
}

.contact-address {
    width: 25%;
    margin-left: 25%;
}

.submit_btn {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    background: #93CCDD;
    border: none;
    display: inline-block;
    padding: 10px 55px;
    border-radius: 3px;
}

.contact-address p {
    margin: 0 0 30px;
}

.contact-address p,
.contact-address a {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 24px;
}

.newsletter-form.v2 {
    max-width: 80%;
}

.social-media-right .newsletter-form .form-group input {
    width: calc(100% - 110px);
    height: 48px;
}

.social-media-right .newsletter-form .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    background: #93CCDD;
    height: 100%;
    width: 115px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    font-family: var(--font_md);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*-----------------------
    Details Page CSS
-----------------------------*/
.hero-content-area {
    background-position: top center;
    height: 700px;
    position: relative;

}

.hero-content-area.bg-f {
    background-color: #475F80;
}

.hero-content-area:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(71, 95, 128, 0.55);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: #fff;
    width: 100%;
}

.hero-content-wrap span {
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: var(--font_sb);
    letter-spacing: 0.2px;
}

.hero-content-wrap h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 55px;
}

/*---------Event details info------------*/
.ev-brief-wrap {
    margin-top: 50px;
}

span.subhead {
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: var(--font_sb);
    font-weight: 500;
    letter-spacing: 0.4px;
    display: block;
}

.event-details-wrap {
    position: relative;
    z-index: 9;
}

.event-details-wrap:before {
    position: absolute;
}

.ed-top-shape,
.ed-bottom-shape {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/*
.ed-top-shape::before {
    position: absolute;
    content: "";
    top: -23px;
    left: -1%;
    width: 66%;
    height: 48px;
    background: #F1EEE7;
    transform: rotate(3deg);
    z-index: 0;
}
.ed-top-shape::after {
    position: absolute;
    content: "";
    top: -21px;
    right: -1%;
    width: 36%;
    height: 50px;
    background: #E4EFF5;
    transform: rotate(-5deg);
    z-index: 0;
}

.ed-bottom-shape::before {
    position: absolute;
    content: "";
    bottom: -23px;
    left: -1%;
    width: 66%;
    height: 48px;
    background: #F1EEE7;
    transform: rotate(3deg);
    z-index: 0;
}

.ed-bottom-shape::after {
    position: absolute;
    content: "";
    bottom: -21px;
    right: -1%;
    width: 36%;
    height: 50px;
    background: #E4EFF5;
    transform: rotate(-5deg);
    z-index: 0;
}
*/
.event-details-left {
    width: 65%;
    padding-left: calc((100% - 1170px) / 2 + 15px);
    /*background: #F1EEE7;*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ed_details-item h6 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--font_md);
    letter-spacing: 0.4px;
}

.ed_details-item a {
    display: block;
}

.event-details-left .ed_details-item {
    width: 50%;
}

.event-details-right .ed_details-item {
    width: 100%;
}

.event-details-right {
    width: 35%;
    padding-right: calc((100% - 1170px) / 2 + 15px);
    padding-left: 50px;
}

.ed_details-item.v2 p {
    font-size: 14px;

}

.ed_details-item.v2 p span {
    margin-right: 10px;

}

.shape-100 img,
.shape-101 img {
    width: 100%;
}

.shape-100 {
    position: absolute;
    top: -70px;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
    height: 365px;
    overflow: hidden;
}

.event-details-wrap.v2 .shape-100 {
    top: -91px;
    height: 423px;
}

.shape-101 {
    position: absolute;
    top: 100%;
    left: -5px;
    width: calc(100% + 10px);
    z-index: -1;
    height: 100px;
    overflow: hidden;
}

.event-details-wrap.v2 .shape-101 {
    bottom: 0px;
    top: auto;
}

.ev-brief-title span {
    font-size: 12px;
    line-height: 48px;
    font-family: var(--font_sb);
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.ev-brief-title h2 {
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 40px;
}

.ev-brief {
    padding: 30px 50px 10px;
    border-radius: 2px;
}

.ev-brief p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 25px;
}

.ev-brief p span {
    font-family: var(--font_bl);
    font-weight: 500;
    display: block;
}

.ev-para-left {
    width: 65%;
}

.ev-para-wrap.v2 .ev-para-left {
    width: 50%;
}

.ev-para-right {
    width: 25%;
}

.ev-para-wrap.v2 .ev-para-right {
    width: 25%;
}

.ev-para-left p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 26px;
}



p.subpara {
    font-size: 22px;
    line-height: 34px;
    margin: 0 0 40px;

}

.ev-para-right p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 30px;
}

.ev-para-right.v2 p {

    margin: 0 0 10px;
}

.ev-para-right .link img,
.ev_feature-box.bg_pmp a.link img {
    top: 5px;
    max-width: 19px;
    margin-right: 8px;
}


.ev_mg-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.single_ev_mg {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 45%;
}

.ev_mg_info h5 {
    font-size: 24px;
    line-height: 22px;
    font-family: var(--font_lg);
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 0 3px;
}

.ev_mg_info span {
    display: block;
    margin: 0 0 20px;
}

.ev_mg_img img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.ev_mg_img {
    max-width: 75px;
    margin-right: 20px;
}
.ev_mg_info {
    width: calc(100% - 100px);
}
.ev_mg_info a {
    display: block;
    font-size: 16px;
    line-height: 22px;
}

.ev_mg_info a.link {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 22px;
}

.alert {
    width: 79%;
    background: #fff;
    display: block;
    padding: 29px 40px 32px;
    border-radius: 5px;
    margin: 100px 0 0 0;
}

.alert p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    font-family: var(--font_md);
    position: relative;
    padding-left: 28px;
}

.alert p img {
    position: absolute;
    top:0;
    left: 0;
    max-width: 19px;
    margin-right: 21px;
}

.ev_feature-box.bg_pmp {
    padding: 30px 40px;
}

.ev_feature-box ul li {
    font-size: 18px;
    line-height: 26px;
}

.ev_feature-box.bg_pmp ul {
    margin: 0 0 40px;
}

.ev_feature-box.bg_pmp ul li {
    position: relative;
    padding-left: 22px;
}

.ev_feature-box.bg_pmp ul li i {
    position: absolute;
    top: 5px;
    left: 0;
}

.ev_feature-box h5 {
    font-family: var(--font_md);
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.ev_mg_wrap {
    position: relative;
    border-bottom: 2px solid #fff;
}

.shape-70 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.shape-70 img {
    width: 100%;
}

.ev_mg_wrap .filter-wrap {
    margin: 0 0 150px;
}

.ev_mg_wrap .filter-title h2 {
    line-height: 56px;
    margin: 0 0 25px;
    font-family: var(--font_bl);
}

.header-search.v2 {
    margin: 70px 0 50px;
}

.header-search.v2 button {
    left: -15px;
    right: auto;
    top: 3px;
}

.header-search.v2 input {
    padding-left: 45px;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.ev_feature-box h4 {
    font-size: 22px;
    font-family: var(--font_md);
    font-weight: 400;
}

.ev-para-left h4 {
    font-size: 18px;
    line-height: 26px;
    font-family: var(--font_md);
    font-weight: ;
    margin: 0;
}


.subpara img {
    max-width: 20px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.lib-box.bg_bs {
    padding: 20px;
}

.lib-box.bg_bs p {
    font-size: 14px;
    line-height: 22px;
}

.lib-box.bg_bs p strong {
    font-family: var(--font_md);
}

.lib-box.bg_bs ul li {
    display: block;
    padding: 17px 0;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-box.bg_bs ul li p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}


.lib-box.bg_bs ul li:first-child {
    border-top: 1px solid #000;
}

.lib-box.bg_bs ul {
    margin: 22px 0 0;
}

.lib-box.bg_bs span.terms {
    font-size: 12px;
    line-height: 15px;
    font-style: italic;
    display: block;
    margin: 15px 0 0;
}

.lib-box.bg_bs a.phone-num {
    font-family: var(--font_sb);
    font-size: 20px;
}