/* Base CSS */

@font-face {
    font-family: Helvetica Bold;
    src: url(../fonts/Monotype-Helvetica-NowText-Bold.otf);
}

@font-face {
    font-family: Helvetica SemiBold;
    src: url(../fonts/Monotype-Helvetica-NowText-Medium.otf);
}

@font-face {
    font-family: Helvetica Medium;
    src: url(../fonts/Monotype-Regular.otf);
}

@font-face {
    font-family: Helvetica Regular;
    src: url(../fonts/Monotype-Helvetica-Now-Text-Light.otf);
}

/* variables*/
:root {
    --font_bl: "Helvetica Bold";
    --font_sb: "Helvetica SemiBold";
    --font_md: "Helvetica Medium";
    --font_rg: "Helvetica Regular";

    --white: #fff;
    --red: #D51030;
    --grey: #999;
    --preloader-clr: #000;
    --bg-overlaay: rgba(0, 0, 0, 0.8);
}

:focus,
button:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #1c223a;
    text-transform: inherit;
    text-decoration: none;
}

a:hover,
a :focus {
    color: #373d46;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    line-height: 1.5;
    font-family: var(--font_bl);
}

body {
    margin: 0;
    color: #000000;
    font-family: var(--font_rg);
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

/*Proloader START CSS*/

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.loader_34 {
    /* Preloader */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader_34 .ytp-spinner {
    /* Spinner Container */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-right {
    /* Position inside Container*/
    left: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #32AD79 #32AD79 transparent;
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}


/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 17px;
    right: calc((100% - 1170px) / 2 + 0px);
    z-index: 999;
    border-radius: 50%;
    /*background: #13171d;*/
}


.back-to-top i {
    color: #000;
}


.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    display: block;
    width: 100%;
    background: #93CCDD;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-family: var(--font_sb);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.btn.v1 span {
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    font-family: var(--font_rg);
}


.btn.v2 {
    color: #32AD79;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 18px;
    border: 2px solid #32AD79;
    border-radius: 50px;
    padding: 15px 55px;
    font-weight: 500;
    transition: 0.3s;
}

.btn.v2:hover {
    color: #FFF;
    background: #32AD79;
}

.btn.v3 {
    font-size: 14px;
    line-height: 20px;
    background: #F1EEE8;
    padding: 13px 25px;
    border-radius: 50px;
    border: none;
}

.btn.v3 img {
    margin-right: 10px;
}

.bg-f {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}

.container {
    margin: 0 auto;
}

.ml-10 {
    margin-left: 10px;
}

.subheading {
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin: 0 0 5px;
}

.subheading.v1 {
    color: #000;
}

.subheading.v2 {
    color: #fff;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex.align-center {
    align-items: center;
}

.d-flex.align-end {
    align-items: flex-end;
}

.d-none {
    display: none;
}

/*.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}*/
/*--------------------------------
       Header CSS
---------------------------------*/
/* Header bar area Start */






/*--------------------------------
            Header CSS
---------------------------------*/
/* Header bar area Start */
.header-bar-area {
    /*position: fixed;*/
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0;
    z-index: 999;
    transition: 0.3s;
}


/*sticky START CSS*/

.header-bar-area.sticky {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    background: #fff;
}



.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
}

.top-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 0;
}

.top-shape::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    background: #fff;
    width: 58%;
    height: 78px;
    transform: rotate(4.4deg);
}

.top-shape::after {
    position: absolute;
    bottom: -10px;
    right: 0px;
    content: "";
    background: #fff;
    width: calc(42% + 10px);
    height: 78px;
    transform: rotate(-6deg);
}

.header-left {
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-right {
    width: 22%;
}

.home-icon {
    width: 80px;
}

.main-menu-wrap {
    width: calc(100% - 80px);
}



#mobile_menu {
    background: #165DA6;
    padding: 7px 10px;
}

#mobile_menu a {
    display: block;
}

#mobile_menu a span {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    margin: 5px auto;
}

#mobile_menu a span:nth-child(2) {
    width: 22px;
}

.mm-panel,
.mm-panels {
    background: #26333A !important;
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar>* {
    color: #fff !important;
}

.mm-menu a,
.mm-menu a:active,
.mm-menu a:hover,
.mm-menu a:link,
.mm-menu a:visited {
    color: #fff !important;
}

.mm-listitem::after,
.mm-listitem .mm-btn_next::before {
    /*display: none !important;*/
    left: 0;
}

.mm-listitem::after {
    left: 0 !important;
}

.mm-listitem>a,
.mm-listitem>span {
    padding: 20px 15px !important;
}

.mm-menu .mm-listview .mm-btn_next::after,
.mm-menu .mm-btn::after,
.mm-menu .mm-btn::before {
    border-color: #fff !important;
}


.header-search {
    position: relative;
}

.header-search input {
    width: 100%;
    background: #F1EEE8;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 10px 18px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.header-search.open input {
    visibility: visible;
    opacity: 1;
}

.header-search input::placeholder {
    opacity: 1;
}

.header-search button {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0 14px;
}

/*---------------------------------
        Hero CSS
--------------------------------*/
.hero-wrap {
    position: relative;
    overflow: hidden;

}

.hero-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(71, 95, 128, 0.921988863904937) 0%, rgba(71, 95, 128, 0.40378158099177175) 35%, rgba(71, 95, 128, 0) 100%);
    z-index: 2;
}

.hero-slider-item {
    height: 648px;
    position: relative;
}

.bottom-shape {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 99;

}


.bottom-shape::before {
    position: absolute;
    bottom: -97px;
    left: -10px;
    content: "";
    background: #fff;
    width: calc(66% + 10px);
    height: 140px;
    transform: rotate(4.6deg);
}

.bottom-shape::after {
    position: absolute;
    bottom: -99px;
    right: -11px;
    content: "";
    background: #fff;
    width: calc(34% + 22px);
    height: 140px;
    transform: rotate(-8.9deg);
}

.hero-content {
    position: absolute;
    top: 50%;
    width: 1170px;
    left: calc((100% - 1170px) / 2 + 15px);
    color: #fff;
    z-index: 3;

}

.hero-content h1 {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    margin: 0 0 35px;
}

.hero-content p {
    font-size: 18px;
    line-height: 26px;
}

.hero-slider-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-slider {
    width: 100%;
}

/*---------Hero Option------*/
.hero-option {
    /*width: 10%;*/
    z-index: 999;
}

.close-option {
    position: absolute;
    top: 10px;
    right: 25px;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
}

.hero-option {
    position: absolute;
    top: 0;
    right: -340px;
    max-width: 350px;
    padding: 50px 25px 5px 22px;
    background: #B5C3CC;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.hero-option.open {
    right: 0;
}

.hero-option::before {
    position: absolute;
    top: 0px;
    left: -61px;
    content: "";
    background: #B5C3CC;
    height: 77%;
    width: 108px;
    transform: rotate(9deg);
    z-index: -1;
}

.hero-option::after {
    position: absolute;
    bottom: 10px;
    left: -53px;
    content: "";
    background: #B5C3CC;
    height: calc(23% + 30px);
    width: 105px;
    transform: rotate(-25deg);
    z-index: -1;
}

.hero-option::after {
    position: absolute;
    bottom: 10px;
    left: -61px;
    content: "";
    background: #B5C3CC;
    height: calc(27% + 29px);
    width: 111px;
    transform: rotate(-25deg);
    z-index: -1;
}

.more-info-btn {
    position: absolute;
    bottom: 260px;
    left: -130px;
    cursor: pointer;
    transform: rotate(-90deg);
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font_sb);
    text-transform: uppercase;
    letter-spacing: 1px;

}

.more-info-btn span {
    display: inline-block;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    position: relative;
    top: 4px;
    margin: 0 10px 0 0px;
}

.ev-info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px;
}

.ev-info-title h4,
.ev-info-title h6 {
    font-size: 18px;
    line-height: 32px;
    font-family: var(--font_md);
}


.ev-info-title h4 span {
    font-family: var(--font_rg);
}

.inf_box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 10px 16px 16px;
    margin: 0 0 15px;
    width: 275px;
}

.weather-box,
.ev-news-box,
.ev-event-item,
.ev-address {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wheather-temp,
.ev-news-left,
.ev-event-item-left,
.ev-address-left {
    width: 50%;
}

.humidity-inf,
.ev-news-right,
.ev-event-item-right,
.ev-address-right {
    width: 50%;
}

.wheather-temp h5 {
    font-size: 12px;
    line-height: 32px;
    font-family: var(--font_md);
    margin: 0;
}

.wheather-temp p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 0 3px;
}

.wheather-temp span {
    font-size: 48px;
    line-height: 48px;
    font-family: var(--font_md);
    display: block;
}

.wheather-temp {
    position: relative;
    padding-left: 24px;
    box-sizing: border-box;
}

.wheather-temp::after {
    position: absolute;
    bottom: 5px;
    right: 0;
    content: "";
    background: #000;
    width: 1px;
    height: 59px;
}

.weather-temp {
    padding-left: 20px;
}

.humidity-inf {
    padding-left: 25px;
}

.humidity-inf img {
    max-width: 51px;
    margin: 0 0 10px;
}

.humidity-inf p {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}

.humidity-inf p span {
    font-family: var(--font_sb);
    width: 35px;
    display: inline-block;
}


.ev-news-box.inf_box .ev-news-left {
    width: 60%;
}

.ev-news-box.inf_box .ev-news-right {
    width: 37%;
}

.ev-news-box.inf_box .ev-news-right img {
    width: 100%;
}

.ev-news-left span.subheading,
.ev-box-title span.subheading {
    font-family: var(--font_sb);
    letter-spacing: 0.4px;
    margin: 0;
}

.ev-news-left p {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 0;
}

.ev-news-left .link.v3 {
    font-size: 10px;
}

.ev-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 10px;
}

.ev-event-item {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #7E7E7E;
}

.ev-event-item:last-child {
    border-bottom: none;
}

.ev-event-item-left span.subheading {
    font-size: 10px;
}

.ev-event-item-left p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.ev-event-item-right p {
    padding-left: 20px;
}

.ev-event-item-right p {
    font-size: 10px;
    line-height: 16px;
    margin: 0;
}

.ev-event-item-right p span {
    font-family: var(--font_sb);
    display: block;
}

.ev-address-left p {
    font-size: 12px;
    line-height: 18px;
}

.ev-address-left ul li {
    font-size: 12px;
    line-height: 18px;
}

/*---------------------------------
        Hero CSS
--------------------------------*/
/*---------------------------------
        Tab  CSS
--------------------------------*/
.filter-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.filter-title {
    width: 40%;
}

.filter-tab {
    width: 60%;
}

.filter-title span {
    font-family: var(--font_sb);
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    display: block;
}

.filter-title h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-family: var(--font_bl);
    text-transform: capitalize;
}

/*.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
}

.tab-menu ul li a {
}

.tab-menu ul li a.active-a {
    color: #000;
}*/

.tab-menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.tab-menu ul li a {
    display: block;
    background: #F1EEE8;
    text-align: center;
    line-height: 55px;
}

.tab-menu ul li a.active-a {
    background: #93CCDD;
}

.tab-menu ul li a.v1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.tab-menu ul li a.v2 {
    height: 48px;
    border-radius: 50px;
    padding: 0 32px 0 25px;
    line-height: 60px;
}

.tab-menu ul li a.v2 span {
    font-size: 14px;
    position: relative;
    top: -5px;
    margin-left: 10px;
    display: inline-block;
}

.tab {
    display: none;
}

.tab-active {
    display: block;
}

.filter-tab-content {
    width: 100%;
    margin: 50px 0 0;
}

.event-list-wrap.v1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -1%;
}

.event-item {
    width: 48%;
    margin: 0 1% 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.w-100 {
    width: 100%;
}

.event-img {
    width: 260px;
}

.event-info {
    width: calc(100% - 280px);
    margin-left: 20px;
}

.event-img img {
    width: 100%;
}



span.date {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 5px;
    color: #475F80;
    display: block;
}

.event-info h4 {
    font-size: 20px;
    line-height: 27px;
    font-family: var(--font_md);
    letter-spacing: 0.2px;
    margin: 0 0 15px;
}

.event-info p {
    font-size: 14px;
    margin: 0 0 5px;
}

.link {
    font-size: 12px;
    line-height: 24px;
    font-family: var(--font_sb);
    text-transform: capitalize;
    display: block;
}

.link.v2 {
    color: #fff;
}

.link.v3 {
    color: #93CCDD;
}

.link img {
    position: relative;
    top: 2px;
    max-width: 20px;
}

.link.v2 img {
    filter: brightness(0) invert(1);
}

.add-more-btn {
    text-align: center;
    margin: 50px 0;
}

/*---------------------------------
        Tab-2 CSS
--------------------------------*/

.tab-two-content-left,
.tab-two-content-right {
    width: 49%;
}

/*---------------------------------
        Tab-3 CSS
--------------------------------*/

.filter-taglist ul li {
    display: inline-block;
    margin: 0px 10px 10px 0;
}

.filter-taglist ul li span {
    display: inline-block;
    background: #F1EEE8;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.filter-taglist ul li span img {
    margin-left: 5px;
    display: none;
}

.filter-taglist ul li span.selected {
    background: #93CCDD;

}

.filter-taglist ul li span.selected img {
    display: inline-block;

}

/*---------------------------------
        Footer CSS
--------------------------------*/

.footer-top {
    background: #F1EEE8;
    padding: 80px 0 26px;
}

.footer-widget-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-widget:nth-child(1) {
    width: 20%;
}

.footer-widget:nth-child(2) {
    width: 30%;
}

.footer-widget:nth-child(3) {
    width: 25%;
}

.footer-widget:nth-child(4) {
    width: 25%;
}

.footer-widget p,
.footer-menu li a,
.social-lik li a,
.newsletter-form label {
    font-size: 14px;
    line-height: 27px;
}

.footer-menu li img {
    position: absolute;
    top: 1px;
    left: 0;
}

.footer-menu li a {
    position: relative;
    padding-left: 14px;

}

.social-lik li a i {
    font-size: 18px;
    margin-right: 18px;
    position: relative;
    top: 2px;
}

.newsletter-form .form-group input {
    width: calc(100% - 40px);
    height: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.newsletter-form .form-group {
    position: relative;
    margin: 5px 0 13px;
}

.newsletter-form .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    background: #93CCDD;
    height: 100%;
    width: 58px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    font-family: var(--font_md);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.newsletter-form .form-group input::placeholder {
    opacity: 1;
}

.check_box {
    display: block;
    margin-bottom: 15px;
}

.check_box input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.check_box label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding-left: 32px;
    display: block;
}

.check_box label a {
    text-decoration: underline;
}

.check_box label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    box-shadow: none;
    /*! padding: 10px; */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: -3px;
}

.check_box input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer-bottom {
    background: #93CCDD;
    padding: 25px 0;
}

.footer-bottom ul li {
    display: inline-block;
    margin: 0 16px 0 0;
}

.footer-bottom ul li a {
    font-size: 10px;
    line-height: 26px;
}




/*mENU TAB*/


#tabs {
    position: relative;
    height: 450px;
    width: 900px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0;
}

#tabs ul {
    position: absolute;
    list-style: none;
}

#tabs li.tab1 .tab,
#tabs li.tab2 .tab,
#tabs li.tab3 .tab,
#tabs li.tab4 .tab,
#tabs li.tab5 .tab,
#tabs li.tab6 .tab,
#tabs li.tab7 .tab,
#tabs li.tab8 .tab {
    z-index: 2;
    height: 40px;
    width: 270px;
    margin-top: 1px;
    margin-left: 15px;
    border: 1px solid none;
    padding-left: 10px;
    line-height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 1) 100%);

    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

#tabs li.tab1,
#tabs li.tab2,
#tabs li.tab3,
#tabs li.tab4,
#tabs li.tab5,
#tabs li.tab6,
#tabs li.tab7,
#tabs li.tab8 {
    height: 44px;
    width: 305px;
    border: 1px solid none;
    line-height: 45px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#tabs li.first {
    margin-top: 10px;
}

#tabs .tabcontent {
    position: absolute;
    z-index: 1;
    height: 353px;
    width: 580px;
    top: 10px;
    left: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

    -webkit-transition: all 0s ease-in;
    -moz-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
}

#tabs li.bullet1 .bullets,
#tabs li.bullet2 .bullets,
#tabs li.bullet3 .bullets,
#tabs li.bullet4 .bullets,
#tabs li.bullet5 .bullets {
    z-index: 2;
}

#tabs li.bullet1 .bullets img,
#tabs li.bullet2 .bullets img,
#tabs li.bullet3 .bullets img,
#tabs li.bullet4 .bullets img,
#tabs li.bullet5 .bullets img {
    top: 380px;
}

#tabs li.bullet1 .bullets img {
    left: 550px;
}

#tabs li.bullet2 .bullets img {
    left: 570px;
}

#tabs li.bullet3 .bullets img {
    left: 590px;
}

#tabs li.bullet4 .bullets img {
    left: 610px;
}

#tabs li.bullet5 .bullets img {
    left: 630px;
}

#tabs li.bullet1 .bullets img,
#tabs li.bullet2 .bullets img,
#tabs li.bullet3 .bullets img,
#tabs li.bullet4 .bullets img,
#tabs li.bullet5 .bullets img {
    position: absolute;
}

#tabs li.bullet1 .bullets img.bottom,
#tabs li.bullet2 .bullets img.bottom,
#tabs li.bullet3 .bullets img.bottom,
#tabs li.bullet4 .bullets img.bottom,
#tabs li.bullet5 .bullets img.bottom {
    opacity: 0;
}

#tabs li.bullet1 img.bottom,
#tabs li.bullet2 img.bottom,
#tabs li.bullet3 img.bottom,
#tabs li.bullet4 img.bottom,
#tabs li.bullet5 img.bottom,
#tabs li.bullet1 img.top,
#tabs li.bullet2 img.top,
#tabs li.bullet3 img.top,
#tabs li.bullet4 img.top,
#tabs li.bullet5 img.top {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#tabs li.bullet1:hover .bullets img.bottom,
#tabs li.bullet2:hover .bullets img.bottom,
#tabs li.bullet3:hover .bullets img.bottom,
#tabs li.bullet4:hover .bullets img.bottom,
#tabs li.bullet5:hover .bullets img.bottom {
    opacity: 1;
}

#tabs li.bullet1:hover .bullets,
#tabs li.bullet2:hover .bullets,
#tabs li.bullet3:hover .bullets,
#tabs li.bullet4:hover .bullets,
#tabs li.bullet5:hover .bullets {
    z-index: 2;
}


#tabs li.tab1:hover .tab,
#tabs li.tab2:hover .tab,
#tabs li.tab3:hover .tab,
#tabs li.tab4:hover .tab,
#tabs li.tab5:hover .tab,
#tabs li.tab6:hover .tab,
#tabs li.tab7:hover .tab,
#tabs li.tab8:hover .tab {
    z-index: 2;
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    font-weight: bold;
    color: #fff;
}

#tabs li.tab1:hover,
#tabs li.tab2:hover,
#tabs li.tab3:hover,
#tabs li.tab4:hover,
#tabs li.tab5:hover,
#tabs li.tab6:hover,
#tabs li.tab7:hover,
#tabs li.tab8:hover {
    z-index: 2;
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
    font-weight: bold;
    color: #fff;
}

#tabs li.bullet1 img.bottom:hover,
#tabs li.bullet2 img.bottom:hover,
#tabs li.bullet3 img.bottom:hover,
#tabs li.bullet4 img.bottom:hover,
#tabs li.bullet5 img.bottom:hover {
    z-index: 2;
}

#tabs li.bullet1 img:hover,
#tabs li.bullet2 img:hover,
#tabs li.bullet3 img:hover,
#tabs li.bullet4 img:hover,
#tabs li.bullet5 img:hover {
    z-index: 2;
}

code {
    font-family: 'Lucida Grande', helvetica, arial, sans-serif;
    font-size: 20px;
    margin-left: 190px;
}

#tabs li.tab1:hover code,
#tabs li.tab2:hover code,
#tabs li.tab3:hover code,
#tabs li.tab4:hover code,
#tabs li.tab5:hover code,
#tabs li.tab6:hover code,
#tabs li.tab7:hover code,
#tabs li.tab8:hover code {
    color: #ff920a;
    font-weight: bold;
    margin-left: 192px;
}

#tabs li.bullet1 .tabcontent {
    opacity: 1;
}

#tabs li.bullet2 .tabcontent,
#tabs li.bullet3 .tabcontent,
#tabs li.bullet4 .tabcontent,
#tabs li.bullet5 .tabcontent,
#tabs li.tab1 .tabcontent,
#tabs li.tab2 .tabcontent,
#tabs li.tab3 .tabcontent,
#tabs li.tab4 .tabcontent,
#tabs li.tab5 .tabcontent,
#tabs li.tab6 .tabcontent,
#tabs li.tab7 .tabcontent,
#tabs li.tab8 .tabcontent {
    opacity: 0;
}

#tabs:hover .tabcontent,
#tabs:focus .tabcontent,
#tabs:active .tabcontent {
    opacity: 0;
    -webkit-transition: opacity 0s ease-in;
}

#tabs li.tab1:hover .tabcontent,
#tabs li.tab1:focus .tabcontent,
#tabs li.tab1:active .tabcontent,
#tabs li.tab2:hover .tabcontent,
#tabs li.tab2:focus .tabcontent,
#tabs li.tab2:active .tabcontent,
#tabs li.tab3:hover .tabcontent,
#tabs li.tab3:focus .tabcontent,
#tabs li.tab3:active .tabcontent,
#tabs li.tab4:hover .tabcontent,
#tabs li.tab4:focus .tabcontent,
#tabs li.tab4:active .tabcontent,
#tabs li.tab5:hover .tabcontent,
#tabs li.tab5:focus .tabcontent,
#tabs li.tab5:active .tabcontent,
#tabs li.tab6:hover .tabcontent,
#tabs li.tab6:focus .tabcontent,
#tabs li.tab6:active .tabcontent,
#tabs li.tab7:hover .tabcontent,
#tabs li.tab7:focus .tabcontent,
#tabs li.tab7:active .tabcontent,
#tabs li.tab8:hover .tabcontent,
#tabs li.tab8:focus .tabcontent,
#tabs li.tab8:active .tabcontent {
    z-index: 3;
    background: white;
    color: black;
    opacity: 1;
    -webkit-transition: opacity 0s ease-in;
}

#tabs li.bullet1:hover .tabcontent,
#tabs li.bullet1:focus .tabcontent,
#tabs li.bullet1:active .tabcontent,
#tabs li.bullet2:hover .tabcontent,
#tabs li.bullet2:focus .tabcontent,
#tabs li.bullet2:active .tabcontent,
#tabs li.bullet3:hover .tabcontent,
#tabs li.bullet3:focus .tabcontent,
#tabs li.bullet3:active .tabcontent,
#tabs li.bullet4:hover .tabcontent,
#tabs li.bullet4:focus .tabcontent,
#tabs li.bullet4:active .tabcontent,
#tabs li.bullet5:hover .tabcontent,
#tabs li.bullet5:focus .tabcontent,
#tabs li.bullet5:active .tabcontent {
    z-index: 3;
    background: teal;
    color: black;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#tabs li.bullet1 .bullets,
#tabs li.bullet2 .bullets,
#tabs li.bullet3 .bullets,
#tabs li.bullet4 .bullets,
#tabs li.bullet5 .bullets {
    height: 40px;
    width: 18px;
    border: 1px solid none;
    float: left;

}

#tabs li.bullet1 .bullets {
    margin-left: 546px;
}


#tabs li.bullet1,
#tabs li.bullet2,
#tabs li.bullet3,
#tabs li.bullet4,
#tabs li.bullet5 {
    width: 900px;
}

#tabs .tabcontent img {
    height: 353px;
    width: 580px;
    margin: 0;
    padding: 0;
    border-radius: 5px;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}